<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="jdbcTypeForNull" value="NULL"/>

  </settings>
<typeAliases>


</typeAliases>
<!--mappers : 실행할 sql문들을 기록해둔 mapper 파일들을 등록하는 영역 -->
  <mappers>

  </mappers>
</configuration>